<div class="text-center" >
  <div class="row imagetiles">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="item-image">
              <img [src]=shuffledSoundTrackImages[0] (click)="startGuessing()" class="img-responsive">
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="item-image">
              <img [src]=shuffledSoundTrackImages[1] (click)="startGuessing()" class="img-responsive" >
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="item-image">
              <img [src]=shuffledSoundTrackImages[2] (click)="startGuessing()" class="img-responsive" >
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="item-image">
              <img [src]=shuffledSoundTrackImages[3] (click)="startGuessing()" class="img-responsive">
          </div>
      </div>
  </div>
</div>